/* Обнуление стилей по умолчанию. Взято отсюда: https://youtu.be/kfOe-F64C_A?list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr*/

/* убираем все отступы и рамки */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Эта штука меняет подсчет ширины блока так чтобы нам было удобней верстать */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/* перечисляем некоторые теги и делаем ихблочными */
nav,
footer,
header,
aside {
  display: block;
}

/* К тегам HTML и BODY применяем парметры которые уравниваю поведение шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Теги форм теперь наследуют шрифт */
input,
button,
textarea {
  font-family: inherit;
}

/* Устраняют други е нюансы поведения тегов разных браузеров */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/* Обнуляем все наши заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* --------------------------------------------------------------------------------------------------------------------- */
body {
  font-family: "Mulish", sans-serif;
  white-space: nowrap;
}
.gradient-backgraund {
  background: linear-gradient(
    180deg,
    rgba(7, 115, 250, 0.71) 0%,
    #0773fa 80.03%
  );
  height: 957px;
}

.top-block {
  height: 914px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.head_items {
  padding: 20px 0 0 155px;
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
}
.head_item1 {
  margin: 20px 0 0 125px;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #fff;
}
.head_item2 {
  margin: 20px 0 0 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}
.head_item3 {
  width: 76px;
  height: 29px;
  margin: 14px 0 0 134px;
  padding: 5px 30px 5px 30px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 7px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

/* Why verso */
h1 {
  display: inline-block;
  width: 790px;
  margin: 170px 0 0 325px;
  font-style: normal;
  font-weight: 900;
  font-size: 51px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #ffffff;
}
/* Verso is available */
.verso_link {
  white-space: normal;
  width: 690px;
  margin: 20px 0 0 375px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}
.gate_link {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #033573;
}

.listing span:nth-child(1) {
  display: inline-block;
  width: 179px;
  margin: 40px 0 0 490px;
  /* border: 1px solid white; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}
.listing span:nth-child(2) {
  display: inline-block;
  width: 179px;
  margin: 40px 0 0 82px;
  /* border: 1px solid white; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}

.block_painting1 {
  white-space: nowrap;
  display: inline-block;
  margin: 14px 0 0 490px;
  padding: 0;
  width: 179px;
  height: 71px;
  /* border: 1px solid white; */
  border-radius: 6px;
  background: white url(../img/image\ 21.svg) center -15px/110% auto no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.block_painting2 {
  white-space: nowrap;
  display: inline-block;
  margin: 14px 0 0 82px;
  width: 179px;
  height: 71px;
  /* border: 1px solid white; */
  border-radius: 6px;
  background: rgba(255, 95, 0, 1) url(../img/image\ 24.svg) center/70% auto
    no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.block_painting3 {
  white-space: nowrap;
  display: inline-block;
  margin: 18px 0 0 754px;
  width: 179px;
  height: 71px;
  /* border: 1px solid white; */
  border-radius: 6px;
  background: rgba(255, 255, 255, 1) url(../img/image\ 16.svg) center no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.block_painting4 {
  white-space: nowrap;
  display: inline-block;
  margin: 18px 0 0 754px;
  padding: 0;
  width: 179px;
  height: 71px;
  /* border: 1px solid white; */
  border-radius: 6px;
  background: rgba(255, 255, 255, 1) url(../img/image\ 22.svg) center/132px 32px
    no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ref_guide {
  margin: 141px 0 0 402px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.ref_guide span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #033573;
}
.ref_guide a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #033573;
}

.blue_block {
  margin-top: 43px;
  height: 500px;
  background: #0773fa;
}

h2 {
  margin: 0px 0 0 421px;
  padding: 10px;
  width: 598px;
  height: 80px;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #ffffff;
}

.blue_block img {
  height: 333px;
  width: 200px;
}
.screen-1 {
  margin: 31px 0 0 351px;
}
.screen-2 {
  margin: 31px 0 0 322px;
}
