/* Обнуление стилей по умолчанию. Взято отсюда: https://youtu.be/kfOe-F64C_A?list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr*/

/* убираем все отступы и рамки */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Эта штука меняет подсчет ширины блока так чтобы нам было удобней верстать */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/* перечисляем некоторые теги и делаем ихблочными */
nav,
footer,
header,
aside {
  display: block;
}

/* К тегам HTML и BODY применяем парметры которые уравниваю поведение шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Теги форм теперь наследуют шрифт */
input,
button,
textarea {
  font-family: inherit;
}

/* Устраняют други е нюансы поведения тегов разных браузеров */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/* Обнуляем все наши заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* --------------------------------------------------------------------------------------------------------------------- */
body {
  font-family: "Mulish", sans-serif;
  white-space: nowrap;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.gradient-background {
  background: linear-gradient(
    180deg,
    rgba(7, 115, 250, 0.71) 0%,
    #0773fa 80.03%
  );
}
.backgraund-for-lines-1 {
  background: url("../img/Line\ 14.svg") 0 365px no-repeat,
    url("../img/Line\ 15.svg") 0 468px no-repeat;
}

.head_items {
  padding: 20px 0 0 155px;
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
}
.head_item1 {
  margin: 20px 0 0 125px;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #fff;
}
.head_item2 {
  margin: 20px 0 0 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}
.head_item3 {
  width: 76px;
  height: 29px;
  margin: 14px 0 0 134px;
  padding: 5px 30px 5px 30px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 7px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

/* Why verso */
h1 {
  display: inline-block;
  width: 790px;
  margin: 170px 0 0 325px;
  font-style: normal;
  font-weight: 900;
  font-size: 51px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #ffffff;
}
/* Verso is available */
.verso_link {
  white-space: normal;
  width: 690px;
  margin: 20px 0 0 375px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}
.gate_link {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #033573;
}

.listing span:nth-child(1) {
  display: inline-block;
  width: 179px;
  margin: 40px 0 0 490px;
  /* border: 1px solid white; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}
.listing span:nth-child(2) {
  display: inline-block;
  width: 179px;
  margin: 40px 0 0 82px;
  /* border: 1px solid white; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}

.block_painting1 {
  white-space: nowrap;
  display: inline-block;
  margin: 14px 0 0 490px;
  padding: 0;
  width: 179px;
  height: 71px;
  /* border: 1px solid white; */
  border-radius: 6px;
  background: white url(../img/image\ 21.svg) center -15px/110% auto no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.block_painting2 {
  white-space: nowrap;
  display: inline-block;
  margin: 14px 0 0 82px;
  width: 179px;
  height: 71px;
  /* border: 1px solid white; */
  border-radius: 6px;
  background: rgba(255, 95, 0, 1) url(../img/image\ 24.svg) center/70% auto
    no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.block_painting3 {
  white-space: nowrap;
  display: inline-block;
  margin: 18px 0 0 754px;
  width: 179px;
  height: 71px;
  /* border: 1px solid white; */
  border-radius: 6px;
  background: rgba(255, 255, 255, 1) url(../img/image\ 16.svg) center no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.block_painting4 {
  white-space: nowrap;
  display: inline-block;
  margin: 18px 0 0 754px;
  padding: 0;
  width: 179px;
  height: 71px;
  /* border: 1px solid white; */
  border-radius: 6px;
  background: rgba(255, 255, 255, 1) url(../img/image\ 22.svg) center/132px 32px
    no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ref_guide {
  margin: 141px 0 0 402px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.ref_guide span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #033573;
}
.ref_guide a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #033573;
}
.box_yellow {
  width: 44px;
  height: 49px;
  position: absolute;
  left: 1251px;
  top: 207px;
  filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.box_yellow img:nth-child(1) {
  width: 44px;
  height: 20px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.box_yellow img:nth-child(2) {
  width: 22px;
  height: 39px;
  position: relative;
  z-index: 1;
  top: 10.3px;
  left: -47.5px;
}
.box_yellow img:nth-child(3) {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 22px;
  height: 39px;
  position: relative;
  top: 10.3px;
  left: -51.5px;
}

.box_gray {
  width: 58px;
  height: 64px;
  position: absolute;
  left: 1193px;
  top: 301px;
  filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.box_gray img:nth-child(1) {
  height: 35px;
  position: relative;
  top: 0px;
  left: 3px;
  z-index: 2;
}
.box_gray img:nth-child(2) {
  width: 30px;
  height: 50px;
  position: relative;
  top: 14px;
  left: -34px;
  z-index: 1;
}
.box_gray img:nth-child(3) {
  width: 28px;
  height: 50px;
  position: relative;
  top: 14px;
  left: -95.5px;
  z-index: 1;
}
.box_purle {
  width: 44px;
  height: 49px;
  position: absolute;
  left: 240px;
  top: 639px;
  filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.box_purle img:nth-child(1) {
  height: 20px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.box_purle img:nth-child(2) {
  width: 22px;
  height: 39px;
  position: relative;
  top: 10px;
  left: -26px;
  z-index: 2;
}
.box_purle img:nth-child(3) {
  width: 22px;
  height: 39px;
  position: relative;
  top: 10px;
  left: -74px;
  z-index: 2;
}

.box_green {
  width: 81px;
  height: 73px;
  position: absolute;
  left: 154px;
  top: 719px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.blue-background {
  margin: 0;
  background: #0773fa;
}
.backgraund-for-lines-2 {
  background: url("../img/Line\ 14.svg") 0 -518px no-repeat,
    url("../img/Line\ 15.svg") 0 -415px no-repeat,
    url("../img/Line3.svg") 0 78px/100% auto no-repeat,
    url("../img/Line4.svg") 0 181px no-repeat;
}

h2 {
  display: inline-block;
  width: 598px;
  height: 80px;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2.4px;
}
.metamask {
  margin: 47px 0 0 421px;
  color: #ffffff;
}

.cart1,
.cart2 {
  display: inline-block;
  width: 380px;
  height: 470px;
}
.cart1 {
  margin: 31px 0 60px 265px;
}
.cart2 {
  margin: 31px 0 60px 142px;
}

.screen1,
.screen2 {
  width: 200px;
  height: 333px;
  margin: 0 auto;

  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  border-radius: 10px;
}
.screen1 {
  background: url(../img/Screen1.svg) -80px 0px no-repeat;
}
.screen2 {
  background: url(../img/Screen2.svg) -80px 0px no-repeat;
}

.number1,
.number2 {
  display: inline-block;
  height: 55px;
  width: 55px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 9px 17px;
  background-color: white;
  color: #0d6bd8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 126%;
  position: relative;
  top: -80px;
  left: 10px;
}

.text_1,
.text_2 {
  display: inline-block;
  white-space: normal;
  padding: 0 11px 11px 0;
  width: 293px;
  height: 112px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.83);
  position: relative;
  top: 10px;
  left: 27px;
}
.cart-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #033573;
}

.box_green_2 {
  position: absolute;
  left: 1256px;
  top: 1337px;
  filter: drop-shadow(-5px 20px 24px rgba(0, 0, 0, 0.15));
}
.box_pink {
  position: absolute;
  left: 1210px;
  top: 1286px;
}
.opportunities {
  margin: 31px 0 0 421px;
  color: #283049;
}
.white-block-text {
  margin: 20px 0 0 375px;
  width: 690px;
  height: 56px;
  white-space: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #1f3e4f;
}

table {
  white-space: normal;
  margin: 57px 0 0 270px;
  font-family: "DM Sans", sans-serif;
  width: 900px;
  height: 525px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #1f3e4f;
  border-collapse: collapse;
  /* border: 1px solid red; */
}
th {
  text-align: left;
  /* border: 1px solid palevioletred; */
}
td {
  text-align: left;
  vertical-align: top;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 0px;
  /* border: 1px solid palevioletred; */
}
.first-column {
  width: 279px;
}
.second-column {
  width: 173;
}
.third-column {
  width: 180px;
  text-align: center;
}
.second-column-blue-text {
  color: rgba(24, 123, 245, 1);
}
.fourth-column-red-text {
  font-style: italic;
  color: #ff655f;
}
table tr:first-child {
  border-bottom: 1px solid rgba(24, 123, 245, 0.4);
}
table tr:last-child {
  border-bottom: 1px solid rgba(24, 123, 245, 0.4);
}
.first-line {
  height: 160px;
}

.img-under-table {
  margin: 31px 0 0 282px;
}
.text-under-table {
  margin: 30px 0 75px 16px;
  display: inline-block;
  width: 200px;
  height: 56px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #1f3e4f;
}

.bottom-blue-background {
  background: #0060e0;
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
}

.logo-footer {
  display: inline-block;
  margin: 49px 0 0 159px;
}

.block-with-form {
  display: inline-block;
  margin: 93px 0 0 277px;
  padding: 0px;
  width: 345px;
  height: 149px;
  font-style: normal;
  font-weight: normal;
  position: relative;
}
.block-with-form p {
  display: inline-block;
  white-space: normal;
  width: 250px;
  height: 58px;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #ffffff;
}

.block-with-form input {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #1783ff;
  background: #0060e0;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #ffffff;
  mix-blend-mode: normal;
  position: absolute;
  top: 97px;
}
.block-with-form input::placeholder {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-align: left;
  vertical-align: middle;
}
.block-with-form button {
  width: 60px;
  height: 50px;
  background: url("../img/Submit.svg");
  position: absolute;
  top: 96px;
  left: 285px;
}

.services,
.about {
  display: inline-block;
  width: 106px;
  height: 182px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: auto;
  letter-spacing: -0.204545px;
  color: #ffffff;
  position: relative;
  top: 95px;
}
.services {
  margin-left: 142px;
}
.services p,
.about p {
  padding-top: 25px;
}

.services p:first-child,
.about p:first-child {
  color: #1783ff;
  padding-top: 0px;
  /* padding: 20px 0 0 0; */
}
.services a,
.about a {
  color: #fff;
}

.about {
  margin-left: 140px;
}
.images {
  margin: 113px 0 0 1128px;
}
.images img {
  margin: 0 20px 0 20px;
}
.last-text-1,
.last-text-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin-top: 67px;
}

.last-text-1 {
  display: inline-block;
  letter-spacing: -0.204545px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 155px;
}
.last-text-2 {
  display: inline-block;
  letter-spacing: -0.204545px;
  color: #ffffff;
  margin-left: 648px;
}
.back-to-top img {
  margin: 37px 0px 22px 1362px;
}
